.logo-login {
    display: block;
    margin: 0 auto;
    margin-top: -60px;
    margin-bottom: -60px;
}

body {
    background: #141414 !important;
}

.message {
    overflow: hidden;
    display: block;
}

.message-body {
    padding: 10px;
    margin: 0.5em;
    margin-bottom: 0;
    border-radius: 1em;
    display: inline-block;
}

.message-left {
    float: left;
    background: rgb(177, 200, 172);
    background: linear-gradient(90deg, rgba(177, 200, 172, 1) 0%, rgb(91, 186, 255) 0%, rgb(5, 255, 59) 100%);
    color: #fff;
}

.message-right {
    float: right;
    background: #eee;
    color: #000;
}

.message-author {

}

.login-box {
    background: #ffffff;
    border: 1px solid #ccc;
    padding: 1em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
}